@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f1f1f1;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
    position: relative;
}
.container div:last-of-type {
    width: 200px;
    height: 100%;
}
.container div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1 {
    font-size: 40px;
    letter-spacing: -1px;
    width: 500px;
}
p {
    opacity: .4;
    font-size: 12px;
}
input {
    width: 60%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
button {
    width: 60%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border-radius: 20px;
    padding: 10px;
    transition: all .3s ease;

}
button:hover {
    
    background-color: rgba(0, 0, 0, .9);
}
img {
    width: 250px;
    height: 250px;
    animation: img .5s ease-in-out ;
    position: absolute;
    right: 10px;
    top: 10%;
}
@keyframes img {
    0% {
        right: 10%;
        top: 10%;
    }
    100% {
        right: 10px;
        top: 10%;
    }
}